/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #34495e;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-left {
    /* Your navbar left section content */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .profile-icon {
    cursor: pointer;
  }
  
  .profile-icon svg {
    fill: white;
    width: 30px;
    height: 30px;
  }
  
  .large-search {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
  }
  